.myCustonClass {
    color: blue;
}

.form {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
}

.savedValues {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
ul{
    padding: 0px;
}

 li {
    padding: 10px 0px;
}

.inputDiv {
    width: 250px;
    height: 70px;
}

.container {
    width: 500px;
    background: #FFFFFF;
    border: 1px solid #D7DADE;
    border-radius: 5px;
}

.header {
    margin-top: 50px;
    height: 50px;
    padding: 10px;
    width: 450px;
}

button {
    margin-left: 50px;
    height: 30px;
    font-size: 1rem;
    float: right;
    cursor: pointer;
}

.displayBlock {
    display: block;
}