
.form {
    max-width: 750px;
    margin: auto;
    background: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    border: 1px solid lightgray;
}

.savedValues {
    max-width: 750px;
    margin: auto;
    background: white;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
}
ul{
    padding: 0px;
}

 li {
    padding: 10px 0px;
}

.inputDiv {
    width: 230px;
    height: 70px;
}

.header {
    margin-top: 50px;
    height: 50px;
    padding: 10px;
    width: 100%;
}

button {
    margin-left: 50px;
    height: 30px;
    font-size: 1rem;
    cursor: pointer;
    width: 150px;
}
@media only screen and (min-width : 800px){
    button{
        float: right;
        margin-right:80px
    }
}

.displayBlock {
    display: block;
}